<head>
        <title> a </title>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
            crossorigin="anonymous">
        <!-- Local CSS -->
        <link rel="stylesheet" href="/css/global.css" type="text/css">
        <link rel="stylesheet" href="/css/signup.css" type="text/css">
    
        <!-- Scrollbar CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
        <!-- MDB -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.6.1/css/mdb.min.css" rel="stylesheet">
        <!--Font Awesome-->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
            crossorigin="anonymous">
    </head>
    
    <body>
    
        <div class="container">
            <!-- Top row start (optional)-->
    
            <div class="row mt-3 d-flex justify-content-center mb-3">
                    <h1 class='m-1 text-center'><%=topMsg%> </h1>
                    <h1 class='m-1 text-center'><%=secondMsg%> </h1>

                <!-- <div class="col-sm-6"><a href="/users" class="float-right"><img title="profile image" class="img-circle img-fluid"
                        src="http://www.gravatar.com/avatar/28fd20ccec6865e2d5f0e1f4446eb7bf?s=100"></a>
                </div> -->
            </div>
            <!-- Top row end (optional) -->
            <!-- form start -->
            <form class="form" action="/api" method="post" onsubmit="return checkForm(this);">
                <!-- hidden input role_id-->
                <input name="role_id" class='hide' id='role_id'value='<%=data.role_id%>'>
                <div class="row d-flex justify-content-center">
                    <div class="col-md-3 col-sm-12">
                        <div class="text-center">
                            <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="avatar img-circle img-thumbnail"
                                alt="avatar" >
                            <h6><small>Upload a different photo...</small></h6>
                            <input type="file" name="image_url" class="text-center mx-auto file-upload" accept="image/*">
                        </div>
                        <button class="btn btn-light delete mt-5" name='delete'type="submit">Delete profile</button>

                    </div>
                    <!--/col-3 end-->
                    <div class="col-12 col-lg-9">
                        <!-- < class="form"> -->
                        <div class='private'>
                            <div class="row form-group">
                                <div class="col-sm-6">
                                    <label for="username">
                                        <h5>Username<small>*</small></h5>
                                    </label>
                                    <input title="Enter username" type="text" class="form-control" name="username"
                                        placeholder="username" id='username' value ='<%=data.username%>'required>
                                </div>
                                <div class="col-sm-6">
                                    <label for="email">
                                        <h5>Email<small>*</small></h5>
                                    </label>
                                    <input type="email" class="form-control" name="email" value ='<%=data.email%>'
                                    pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" placeholder="you@email.com"
                                    required>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-sm-6">
                                    <label for="password">
                                        <h5>Password<small>*</small></h5>
                                        <p class='pnote'>At least 6 characters, including UPPER/lowercase and numbers</p>
                                    </label>
                                    <input type="password" class="form-control" name="password" placeholder="password"
                                        title="Password must contain at least 6 characters, including UPPER/lowercase and numbers"
                                        required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" 
                                        onchange="this.setCustomValidity(this.validity.patternMismatch ? this.title : '');
                                        if(this.checkValidity()) form.password2.pattern = RegExp.escape(this.value);">
                                </div>
                                <div class="col-sm-6">
                                    <label for="password2">
                                        <h5>Confirm Password<small>*</small></h5>
                                        <p class='pnote'>Same password as left</p>
                                    </label>
                                    <input type="password" class="form-control" title="Please enter the same password" name="password2"
                                        placeholder="confirm password" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}"
                                        onchange="this.setCustomValidity(this.validity.patternMismatch ? this.title : '');">
                                </div>
                            </div>
                            <hr>
                            <h4> Private Information</h4>
                            <div class="row form-group">
                                <div class="col-sm-6">
                                    <label for="fname">
                                        <h5>First name<small>*</small></h5>
                                    </label>
                                    <input type="text" class="form-control" name="fname" value ='<%=data.fname%>'placeholder="first name" required>
                                </div>
                                <div class="col-sm-6">
                                    <label for="lname">
                                        <h5>Last name<small>*</small></h5>
                                    </label>
                                    <input type="text" class="form-control" name="lname" value ='<%=data.lname%>'placeholder="last name" required>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-sm-12">
                                    <label for="street">
                                        <h5>Address</h5>
                                    </label>
                                    <input type="text" class="form-control" name='street' value ='<%=data.street%>'placeholder="street address">
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-sm-6">
                                    <label for="city">
                                        <h5>City</h5>
                                    </label>
                                    <input type="text" class="form-control" name='city' value ='<%=data.city%>'placeholder="city">
                                </div>
                                <div class="col-sm-2">
                                    <label for='state_code'>
                                        <h5>State</h5>
                                    </label>
                                    <select class="form-control" name='state_code'>
                                        <option name='state_code' value='<%=data.state_code%>'>
                                                <%=data.state_code%>
                                        </option>
                                    </select>
                                </div>
                                <div class="col-sm-4">
                                    <label for="zipcode">
                                        <h5>Zipcode</h5>
                                    </label>
                                    <input type="text" class="form-control" name='zipcode' value ='<%=data.zipcode%>'placeholder="zipcode">
                                </div>
                                <div class="col-sm-6">
                                    <label for="telephone">
                                        <h5>Telephone</h5>
                                    </label>
                                    <input type="text" class="form-control" name="telephone" value ='<%=data.telephone%>'placeholder="phone number">
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-sm-12">
                                    <label for="bio">
                                        <h5>Bio</h5>
                                    </label>
                                    <textarea type="text" class="form-control" name='bio' value ='<%=data.bio%>'placeholder="Share about yourself"></textarea>
                                </div>
                            </div>
                        </div>
                        <!-- private end  -->
                        <!-- teacher info start  -->
                        <div class='teacher'>
                            <hr>
                            <h4> School Information</h4>
                            <div class="row form-group">
                                <div class="col-sm-9">
                                    <label for='school'>
                                        <h5>School Name</h5>
                                    </label>
                                    <select class="form-control" name='teacher_school'>
                                        <option name='teacher_school' value='<%=data.school_id%>'>
                                                <%=data['school.name']%>
                                        </option>
                                    </select>
                                </div>
                                <div class="col-sm-3 teacher_code hide">
                                    <label for='teacher_code'>
                                        <h5>Teacher Code:show only at edit </h5>
                                    </label>
                                    <input class="form-control" name='teacher_code' value ='<%=data.code%>' readonly>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-sm-4">
                                    <label for='teacher_industry'>
                                        <h5> Industry </h5>
                                    </label>
                                    <select class="form-control" name='teacher_industry'>

                                    </select>
                                </div>
                            </div>
                        </div>
                        <!-- Teacher end  -->
    
                        <!-- Student info start  -->
                        <div class='student'>
                            <hr>
                            <h4> School Information</h4>
                            <div class="row form-group">
                                <div class="col-sm-9">
                                    <label for='student_school'>
                                        <h5>School Name</h5>
                                    </label>
                                    <select class="form-control" name='student_school'>
                                        <option name='student_school' value='<%=data.school_id%>'>
                                                <%=data['school.name']%>
                                        </option>
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <label id ='grade' for='grade' value='<%=data.grade%>'>
                                        <h5>Grade</h5>
                                    </label>
                                    <input class="form-control" name='grade' value ='<%=data.grade%>' readonly>
                                    <!-- <select class="form-control" name='grade'>
                                        <option class='grade' name='student-grade' value="freshman">Freshman</option>
                                        <option class='grade' name='student-grade' value="sophomore">Sophomore</option>
                                        <option class='grade'  name='student-grade' value="junior">Junior</option>
                                        <option class='grade'  name='student-grade' value="senior">Senior</option>

                                    </select> -->
                                </div>
                            </div>
                            <h4 class="mt-5">Which industries are you interested in?</h4>
                            <div class="row form-group">
                                <div class="col-sm-4">
                                    <label for='student_industries1'>
                                        <h5> First Choice </h5>
                                    </label>
                                    <select class="form-control" name='student_industries1'>
                                        <option name='student_industries1' value='<%=data.industry_id1%>'>
                                        </option>
                                    </select>
                                </div>
                                <div class="col-sm-4">
                                    <label for='student_industries2'>
                                        <h5>Second Choice </h5>
                                    </label>
                                    <select class="form-control" name='student_industries2'>
                                        <option name='student_industries2' value='<%=data.industry_id2%>'>
                                        </option>
                                    </select>
                                </div>
                                <div class="col-sm-4">
                                    <label for='student_industries3'>
                                        <h5>Third Choice </h5>
                                    </label>
                                    <select class="form-control" name='student_industries3'>
                                        <option name='student_industries3' value='<%=data.industry_id3%>'>
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <!-- Student end  -->
                        <!-- Mentor info start  -->
                        <div class="mentor">
                            <hr>
                            <h4> Company Information</h4>
                            <div class="row form-group">
                                <div class="col-sm-8">
                                    <label for="company_name">
                                        <h5>Name</h5>
                                    </label>
                                    <input type="text" class="form-control" name="company_name" value='<%=data.company_name%>'placeholder="Company Name">
                                </div>
                                <div class="col-sm-4">
                                    <label for="position">
                                        <h5>Position</h5>
                                    </label>
                                    <input type="text" class="form-control" name="position" value='<%=data.position%>'placeholder="Position title">
                                </div>
                            </div>
    
                            <div class="row form-group">
                                <div class="col-sm-12">
                                    <label for="company_street">
                                        <h5>Address</h5>
                                    </label>
                                    <input type="text" class="form-control" name='company_street' value='<%=data.company_street%>'placeholder="company address">
                                </div>
    
                            </div>
                            <div class="row form-group">
                                <div class="col-sm-6">
                                    <label for="city">
                                        <h5>City</h5>
                                    </label>
                                    <input type="text" name='company_city' class="form-control" value='<%=data.company_city%>'placeholder="company city">
                                </div>
                                <div class="col-sm-2">
                                    <label for='state'>
                                        <h5>State</h5>
                                    </label>
                                    <select class="form-control" name='company_state'>
                                        <option name='company_state'value='<%=data.company_state_code%>'>
                                                <%=data.company_state_code%>
                                        </option>
                                    </select>
                                </div>
                                <div class="col-sm-4">
                                    <label for="company_zipcode">
                                        <h5>Zipcode</h5>
                                    </label>
                                    <input type="text" name='company_zipcode' class="form-control" value='<%=data.company_zipcode%>'placeholder="company zip code">
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-sm-6">
                                    <label for="company_telephone">
                                        <h5>Phone</h5>
                                    </label>
                                    <input type="text" class="form-control" name="company_telephone" value='<%=data.company_telephone%>'placeholder="company phone number">
                                </div>
                            </div>
                            <h4 class="mt-5">Which industries best describe your company / job?</h4>
                            <div class="row form-group">
                                <div class="col-sm-4">
                                    <label for='company_industries1'>
                                        <h5> First Choice </h5>
                                    </label>
                                    
                                </div>
                                <div class="col-sm-4">
                                    <label for='company_industries2'>
                                        <h5>Second Choice </h5>
                                    </label>
                                    
                                </div>
                            </div>
                        </div>
                        <!-- Mentor end  -->
                        <hr>
                        <div class="row form-group">
                            <div class="col-sm-12 p-0 mt-3">
                                <button class="btn save btn-success" type='submit' id="submit"><i class="fas fa-check"></i>
                                    Save</button>
                                <button class="btn reset btn-light" type="reset"><i class="m-1 fas fa-undo"></i>Reset</button>
                            </div>
                        </div>
                    </div>
                    <!-- div right side column end -->
                </div>
                <!-- div row end -->
            </form>
            <!-- form end -->
        </div>
        <!--/CONTAINER END -->
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    
<!-- jQuery first, then Popper.js, then Bootstrap JS, then MDB -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <script src='/scripts/profileEdit.js'></script>
        <script>
            if (!RegExp.escape) {
                RegExp.escape = function (s) {
                    return String(s).replace(/[\\^$*+?.()|[\]{}]/g, '\\$&');
                };
            }
    
            function checkPassword(str) {
                var re = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}$/;
                return re.test(str);
            }
    
            function checkForm(form) {
                if (form.username.value == "") {
                    alert("Error: Username cannot be blank!");
                    form.username.focus();
                    return false;
                }
                re = /^\w+$/;
                if (!re.test(form.username.value)) {
                    alert("Error: Username must contain only letters, numbers and underscores!");
                    form.username.focus();
                    return false;
                }
                if (form.password.value != "" && form.password.value == form.password2.value) {
                    if (!checkPassword(form.password.value)) {
                        alert("The password you have entered is not valid!");
                        form.password.focus();
                        return false;
                    }
                } else {
                    alert("Error: Please check that you've entered and confirmed your password!");
                    form.password.focus();
                    return false;
                }
                return true;
            }
        </script>
    
    </body>
    
    </html>