<head>
    <title> a </title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <!-- Local CSS -->
    <link rel="stylesheet" href="/css/global.css" type="text/css">
    <link rel="stylesheet" href="/css/signup.css" type="text/css">

    <!-- Scrollbar CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
    <!-- MDB -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.6.1/css/mdb.min.css" rel="stylesheet">
    <!--Font Awesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
        crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <div class="row mt-3">
            <div class="col-sm-6">
                <h1></h1>
            </div>
           

            <div class="col-sm-6"><a href="/users" class="float-right"><img title="profile image" class="img-circle img-fluid"
                    src="http://www.gravatar.com/avatar/28fd20ccec6865e2d5f0e1f4446eb7bf?s=100"></a>
            </div>
        </div>
        <form class="form" action="/api" method="post">

        <div class="row">
            <div class="col-md-3 col-sm-12">
                <div class="text-center">
                    <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="avatar img-circle img-thumbnail"
                        alt="avatar" name="image_url">
                    <h6><small>Upload a different photo...</small></h6>
                    <input type="file" class="text-center mx-auto file-upload">
                </div>
                </hr><br>

                <div class="card ">
                    <div class="card-header">Groups <i class="fas fa-link fa-1x"></i></div>
                    <div class="card-block"><a href="http://bootnipets.com"></a></div>
                </div>

                <div class="card ">
                    <div class="card-header">Social Media</div>
                    <div class="card-block">
                        <h3>
                            <i class="fab fa-facebook-square"></i> <i class="fab fa-github-square"></i><i class="fab fa-twitter-square"></i>
                            <i class="fab fa-pinterest-square"></i><i class="fab fa-linkedin"></i>
                        </h3>
                    </div>
                </div>

            </div>
            <!--/col-3-->
            <div class="col-12 col-lg-9">
                <!-- <form class="form"> -->
                <div class='private'>
                    ## temp role id<input id='role' name='role_id'>
                    <div class="row form-group">
                        <div class="col-sm-6">
                            <label for="username">
                                <h5>Username</h5>
                            </label>
                            <input type="text" class="form-control" name="username" placeholder="username" id='username' required>
                        </div>
                        <div class="col-sm-6">
                            <label for="email">
                                <h5>Email</h5>
                            </label>
                            <input type="text" class="form-control" name="email" placeholder="you@email.com" required>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-sm-6">
                            <label for="password">
                                <h5>Password</h5>
                            </label>
                            <input type="password" class="form-control" name="password" placeholder="password" required>
                        </div>
                        <div class="col-sm-6">
                            <label for="password2">
                                <h5>Verify</h5>
                            </label>
                            <input type="password" class="form-control" name="password2" placeholder="verify password" required>
                        </div>
                    </div>
                    <hr>
                    <h4> Private Information</h4>
                    <div class="row form-group">
                        <div class="col-sm-6">
                            <label for="fname">
                                <h5>First name</h5>
                            </label>
                            <input type="text" class="form-control" name="fname" placeholder="first name">
                        </div>
                        <div class="col-sm-6">
                            <label for="lname">
                                <h5>Last name</h5>
                            </label>
                            <input type="text" class="form-control" name="lname" placeholder="last name">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-sm-12">
                            <label for="street">
                                <h5>Address</h5>
                            </label>
                            <input type="text" class="form-control" name='street' placeholder="street address">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-sm-6">
                            <label for="city">
                                <h5>City</h5>
                            </label>
                            <input type="text" class="form-control" name='city' placeholder="city">
                        </div>
                        <div class="col-sm-2">
                            <label for='state_code'>
                                <h5>State</h5>
                            </label>
                            <select class="form-control" name='state_code'>
                                <% states.forEach(ele=>{%>
                                <option name='state' value='<%=ele.state%>'>
                                    <%=ele.state%>
                                </option>
                                <%});%>
                            </select>
                        </div>
                        <div class="col-sm-4">
                            <label for="zipcode">
                                <h5>Zipcode</h5>
                            </label>
                            <input type="text" class="form-control" name='zipcode' placeholder="zipcode">
                        </div>
                        <div class="col-sm-6">
                            <label for="telephone">
                                <h5>Telephone</h5>
                            </label>
                            <input type="text" class="form-control" name="telephone" placeholder="phone number">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-sm-12">
                            <label for="bio">
                                <h5>Bio</h5>
                            </label>
                            <textarea type="text" class="form-control" name='bio' placeholder="Share about yourself"></textarea>
                        </div>
                    </div>
                </div>
                <div class='teacher'>
                    <hr>
                    <h4> School Information</h4>
                    <div class="row form-group">
                        <div class="col-sm-9">
                            <label for='school'>
                                <h5>School Name</h5>
                            </label>
                            <select class="form-control" name='teacher_school'>
                                <% schools.forEach(ele=>{%>
                                <option name='teacher_school' value='<%=ele.id%>'>
                                    <%=ele.name%>
                                </option>
                                <%});%>
                            </select>
                        </div>
                        <div class="col-sm-3">
                            <label for='teacher_code'>
                                <h5>Teacher Code:show only at edit </h5>
                            </label>
                            <input class="form-control" name='teacher_code' value='Code goeS HERE' readonly>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-sm-4">
                            <label for='teacher_industry'>
                                <h5> Industry </h5>
                            </label>
                            <select class="form-control" name='teacher_industry'>
                                <% industries.forEach(ele=>{%>
                                <option name='teacher_industry' value='<%=ele.id%>'>
                                    <%=ele.industries%>
                                </option>
                                <%});%>
                            </select>
                        </div>
                    </div>
                </div>    
                <!-- Teacher end  -->

                <!-- Student info start  -->
                <div class='student'>
                    <hr>
                    <h4> School Information</h4>
                    <div class="row form-group">
                        <div class="col-sm-9">
                            <label for='student_school'>
                                <h5>School Name</h5>
                            </label>
                            <select class="form-control" name='student_school'>
                                <% schools.forEach(ele=>{%>
                                <option name='student_school' value='<%=ele.id%>'>
                                    <%=ele.name%>
                                </option>
                                <%});%>
                            </select>
                        </div>
                        <div class="col-sm-3">
                            <label for='student_grade'>
                                <h5>Grades</h5>
                            </label>
                            <select class="form-control" name='student_grade'>
                                <option name='student-grade' value="freshman">Freshman</option>
                                <option name='student-grade' value="sophomore">Sophomore</option>
                                <option name='student-grade' value="junior">Junior</option>
                                <option name='student-grade' value="senior">Senior</option>
                            </select>
                        </div>
                    </div>
                    <h4 class="mt-5">Which industries are you interested in?</h4>
                    <div class="row form-group">
                        <div class="col-sm-4">
                            <label for='student_industries1'>
                                <h5> First Choice </h5>
                            </label>
                            <select class="form-control" name='student_industries1'>
                                <% industries.forEach(ele=>{%>
                                <option name='student_industries1' value='<%=ele.id%>'>
                                    <%=ele.industries%>
                                </option>
                                <%});%>
                            </select>
                        </div>
                        <div class="col-sm-4">
                            <label for='student_industries2'>
                                <h5>Second Choice </h5>
                            </label>
                            <select class="form-control" name='student_industries2'>
                                <% industries.forEach(ele=>{%>
                                <option name='student_industries2' value='<%=ele.id%>'>
                                    <%=ele.industries%>
                                </option>
                                <%});%>
                            </select>
                        </div>
                        <div class="col-sm-4">
                            <label for='student_industries3'>
                                <h5>Third Choice </h5>
                            </label>
                            <select class="form-control" name='student_industries3'>
                                <% industries.forEach(ele=>{%>
                                <option name='student_industries3' value='<%=ele.id%>'>
                                    <%=ele.industries%>
                                </option>
                                <%});%>
                            </select>
                        </div>
                    </div>
                </div>
                <!-- Student end  -->
                <!-- Mentor info start  -->
                <div class="mentor">
                    <hr>
                    <h4> Company Information</h4>
                    <div class="row form-group">
                        <div class="col-sm-8">
                            <label for="company_name">
                                <h5>Name</h5>
                            </label>
                            <input type="text" class="form-control" name="company_name" placeholder="Company Name">
                        </div>
                        <div class="col-sm-4">
                            <label for="title">
                                <h5>Position</h5>
                            </label>
                            <input type="text" class="form-control" name="title" placeholder="Position title">
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-sm-12">
                            <label for="company_street">
                                <h5>Address</h5>
                            </label>
                            <input type="text" class="form-control" name='company_street' placeholder="company address">
                        </div>

                    </div>
                    <div class="row form-group">
                        <div class="col-sm-6">
                            <label for="city">
                                <h5>City</h5>
                            </label>
                            <input type="text" name='company_city' class="form-control" placeholder="company city">
                        </div>
                        <div class="col-sm-2">
                            <label for='state'>
                                <h5>State</h5>
                            </label>
                            <select class="form-control" name='company_state'>
                                <% states.forEach(ele=>{%>
                                <option name='company_state' value="<%=ele.state%>">
                                    <%=ele.state%>
                                </option>
                                <%});%>
                            </select>
                        </div>
                        <div class="col-sm-4">
                            <label for="company_zipcode">
                                <h5>Zipcode</h5>
                            </label>
                            <input type="text" name='company_zipcode' class="form-control" placeholder="company zip code">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-sm-6">
                            <label for="company_phone">
                                <h5>Phone</h5>
                            </label>
                            <input type="text" class="form-control" name="company_phone" placeholder="company phone number">
                        </div>
                    </div>
                    <h4 class="mt-5">Which industries best describe your company / job?</h4>
                    <div class="row form-group">
                        <div class="col-sm-4">
                            <label for='company_industries1'>
                                <h5> First Choice </h5>
                            </label>
                            <select class="form-control" name='company_industries1'>
                                <% industries.forEach(ele=>{%>
                                <option name='company_industries1' value='<%=ele.id%>'>
                                    <%=ele.industries%>
                                </option>
                                <%});%>
                            </select>
                        </div>
                        <div class="col-sm-4">
                            <label for='company_industries2'>
                                <h5>Second Choice </h5>
                            </label>
                            <select class="form-control" name='company_industries2'>
                                <% industries.forEach(ele=>{%>
                                <option name='company_industries2' value='<%=ele.id%>'>
                                    <%=ele.industries%>
                                </option>
                                <%});%>
                            </select>
                        </div>
                    </div>
                </div>
                <!-- Mentor end  -->
                <hr>
                <div class="row form-group">
                    <div class="col-sm-12 p-0 mt-3 d-flex justify-content-center">
                        <button class="btn btn-success" type='submit' id="submit"><i class="fas fa-check"></i>
                            Save</button>
                        <button class="btn btn-light" type="reset"><i class="m-1 fas fa-undo"></i>Reset</button>
                    </div>
                </div>
                </form>

            </div>
            <!--/tab-pane container-->

        </div>
        <!--/tab-content-->

    </div>
    <!--/col-9-->
    </div>
    <!--/row-->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <script src='../scripts/signup.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

</body>

</html>